.block {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    animation-name: blackout;
    animation-delay: 2s;
    animation-duration: .3s;
    opacity: 0;
}

@keyframes blackout {
    100% { opacity: 1 }
}
