.crowHeadImage {
    position: absolute;
    right: 45px;
    bottom: 10px;
    transform-origin: 240px 240px;
    z-index: 9;
}

.crowBodyImage {
    position: absolute;
    right: 40px;
    bottom: 0;
}